/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "PlasmaDrip";
  src: url("/font/plasdrip-webfont.woff2") format("woff2"), url("/font/plasdrip-webfont.woff") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  --color-blanco: #ffffff;
  --color-dorado: #fcf3ae;
  --color-negro: #000000;
}
/* ******************************** */
body{
  
  font-family: PlasmaDrip, sans-serif;
  /* Retina Display */
    /* Móvil */
    @media only screen and (min-width: 320px) and (max-width: 500px) and (orientation: portrait) {
      @media (-webkit-min-device-pixel-ratio: 1){
        
          background-image: url(../img/smartphone/fondoprincipal.webp);
      }

      @media (-webkit-min-device-pixel-ratio: 2) {
          background-image: url(/img/smartphone/fondoprincipal@2x.webp);
      }

      @media (-webkit-min-device-pixel-ratio: 3) {
          background-image: url(/img/smartphone/fondoprincipal@3x.webp);
      }
  }
  .titulo{
    color: var(--color-dorado);
    text-align: center;
    font-size: 350%;
    grid-column: 1/2;
    grid-row: 1/2;
    
  }
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 250%;
  color: var(--color-dorado);
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 8%;
}


footer{
  width: 100%;
  position: fixed;
  bottom:0px;
  .footer__paypal{
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

